<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin | Blueprint</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eius eos error expedita ipsam iure labore maxime natus. Accusamus assumenda deserunt dolorum esse fugiat in iure necessitatibus obcaecati rem ut?</p>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>